<a href="https://colab.research.google.com/github/nhs-pycom/coding-club-test/blob/main/coding_club_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- test 1 - pull data from github url
- test 2 - mount github to drive
- test 3 - make new branch and commit to repo
- test 4 - no google account
- test 5 - no github account

## Open files from GitHub
To open a file from GitHub, you can clone the repo or fetch the file directly.

If you are trying to access files from a private repo, you must use a GitHub access token.

In [ ]:
# Clone the entire repo.
!git clone -l -s git://github.com/jakevdp/PythonDataScienceHandbook.git cloned-repo
%cd cloned-repo
!ls

In [ ]:
# Fetch a single <1MB file using the raw GitHub URL.
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://api.github.com/repos/jakevdp/PythonDataScienceHandbook/contents/notebooks/data/california_cities.csv

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/hxchua/datadoubleconfirm/master/datasets/arrivals2018.csv'
df = pd.read_csv(url, error_bad_lines=False)
df.head()

   rank       city    country  arrivals_2017  arrivals_2018
0     1  Hong Kong  Hong Kong       27880300       29827200
1     2    Bangkok   Thailand       22453900       23688800
2     3     London    England       19827800       20715900
3     4  Singapore  Singapore       17618800       18551200
4     5      Macau      Macau       17337200       18931400

## Open files from local computer
`files.download` will invoke a browser download of the file to your local computer.

In [ ]:
from google.colab import files

with open('example.txt', 'w') as f:
  f.write('some content')

files.download('example.txt')